<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>test</title>{% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">{% } %}



  </head>
  <body class="pushable">

    <!-- Following Menu -->
    <!--
    <div class="ui large top fixed menu transition hidden">
      <div class="ui container">
        <a class="active item">Home</a>
        <a class="item">Work</a>
        <a class="item">Company</a>
        <a class="item">Careers</a>
        <div class="right menu">
          <div class="item">
            <a class="ui button">Log in</a>
          </div>
          <div class="item">
            <a class="ui primary button">Sign Up</a>
          </div>
        </div>
      </div>
    </div>




    <div class="pusher">

      <div class="ui inverted vertical masthead center aligned segment">

        <div class="ui container">
          <div class="ui large secondary inverted pointing menu">
            <a class="toc item">
              <i class="sidebar icon"></i>
            </a>
            <a class="active item">Home</a>
            <a class="item">Work</a>
            <a class="item">Company</a>
            <a class="item">Careers</a>
            <div class="right item">
              <a class="ui inverted button">Log in</a>
              <a class="ui inverted button">Sign Up</a>
            </div>
          </div>
        </div>

        <div class="ui text container">
          <h1 class="ui inverted header">
            Imagine-a-Company
          </h1>
          <h2>Do whatever you want when you want to.</h2>
          <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
        </div>

      </div>
    -->

      <app></app>{% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
    	<div class="ui center aligned segment">
    		Copyright &copy; 2008-2016 Yiqun Liu  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    		Last-updated Jan 26, 2016
    	</div>
    </div>
    <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>{% } %}
<!--
    <script src='./assets/jquery.min.js'></script>
    <script src='./assets/transition.js'></script>
    <script src='./assets/visibility.js'></script>

    <script>
    $(document)
      .ready(function() {

        // fix menu when passed
        $('.masthead')
          .visibility({
            once: false,
            onBottomPassed: function() {
              $('.fixed.menu').transition('fade in');
            },
            onBottomPassedReverse: function() {
              $('.fixed.menu').transition('fade out');
            }
          })
        ;

        // create sidebar and attach to menu open
        $('.ui.sidebar')
          .sidebar('attach events', '.toc.item')
        ;

      })
    ;
    </script>
  -->
  </body>
</html>
